.article-title { font-size: 14px; font-weight: bold; }
.article-header { font-size: 24px; font-weight: bold; }
.article-subheader { font-size: 18px; font-weight: bold; }
.article-paragraph { font-size: 16px; }
